<div class="wrapper min-h-screen flex-row justify-between">
  <nav class="flex justify-between p-4 bg-green-600 text-white">
    <div class="my-auto">
      <button class="hover:text-green-300 transition:0.3">
        <a class="p-5 font-semibold" routerLink="/">
          <i class="fa fa-book pr-3 text-2xl" aria-hidden="true"></i>Book
          Shop</a
        >
      </button>
    </div>
    <div class="flex justify-between w-60">
      <a
        class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
        (click)="onClickCart"
        routerLink="/cart"
        >Cart</a
      >
      <ng-container *ngIf="!isAuthenticated()">
        <a
          class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
          routerLink="/login"
          >Login</a
        >
        <a
          class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
          routerLink="/register"
          >Register</a
        >
      </ng-container>
      <ng-container *ngIf="isAuthenticated()">
        <a
          class="inline-block px-4 py-1 cursor-pointer hover:text-green-300 hover:border-b-white font-semibold"
          (click)="logout()"
          >Logout</a
        >
      </ng-container>
    </div>
  </nav>

  <div class="m-5">
    <router-outlet></router-outlet>
  </div>

  <footer class="flex justify-center p-4 bg-green-600 text-white">
    <p class="font-semibold">© 2022 All rights reserved</p>
  </footer>
</div>
